body {
    color:black;
    background-color:black;
    background-image:url(https://maximumwallhd.com/wp-content/uploads/2016/12/fond-ecran-wallpaper-image-fonds-ecran-abstrait-noir-et-blanc-18.jpg);
   background-repeat: no-repeat;
    background-attachment:fixed;
    height:100%;
   
} 
.icon{
    width:50px;
height:50px;
align-items: center;
align-content: center;
}
.projet{ color:black;
    background-color:white;
    background-image:url(https://pricepointreport.com/wp-content/uploads/2018/08/image-issue-du-site-web-http-www-fonds-ecran-hd-ch-telecharger-avec-et-fond-ecran-hd-noir-39-1920x1080px-fond-ecran-hd-noir.jpg);
   background-repeat: no-repeat;
    background-attachment:fixed;
    height:100%;
    

} 




.projet2{color:black;
    background-color:white;
    background-image:url(https://images4.alphacoders.com/839/83944.jpg);
   background-repeat: no-repeat;
    background-attachment:fixed;
    height:100%;
}

.projet3{color:black;
    background-color:white;
    background-image:url(https://images2.alphacoders.com/689/689697.jpg);
   background-repeat: no-repeat;
    background-attachment:fixed;
    height:100%;
    
}
/** modification des tailles d'images pour que toute les cards soit egale et compatible en version mobile**/
    #html5{height: 200px;
       width: 250px;
       margin: auto ;
    }


    #bootstrap{height: 200px;
        width: 285px;
        margin: auto;
     }



    #CSS3{height: 200px;
        width: 200px;
        margin: auto ;
     }


    #Linux{height: 200px;
        max-width: 200px;
        margin: auto ;
     }


    #shopify{height: 200px;
        width: 250px;
        margin: auto ;
     }
     

    #git{height: 200px;
        width: 280px;
        margin: auto ;
     }

     #icon{
        width:50px;
    height:50px;
    align-items: center;
    align-content: center;
    }

   